body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: grey;
}

.page-wrapper {
  background-color: tomato;
}

/* Header  CSS */

header {
  display: flex;
  align-items: center;
  background-color: tomato;
  border-style: 10px solid;
  border-color: #636364;
  justify-content: space-between;
  padding: 10px;
}

header h1 {
  width: 25%;
  font-weight: 500;
  margin: 5px;
  font-size: 50px;
  color: white;
}

/* Navigation CSS */

.navContainer {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 30px;

}

nav a {
  color: inherit;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
}

.icons img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

#Sarahphoto {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

/* Subheading/welcome Page */

#heroBanner {
  display: grid;
  min-height: 600px;
  height: 80vh;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas:
    "codingimage"
}

.heroBannerArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

#headline {
  border: 5px solid tomato;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: -0px;
  z-index: 2;
  padding: 50px;
}

#headline h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
  padding-right: 15px;
}

/* Subheader Image CSS */

#codingimage {
  grid-area: codingimage;
  background-image: url("../images/pexels-pixabay-270348.jpg");
}


/* About Me CSS */

.page-section1 {
  margin: 0px 5.6%;
  display: flex;

}

#Paragraph {
  font-size: 15px;
  color: white;
}


.subHeading {
  font-size: 40px;
  color: white;
  border-right: 2px solid whitesmoke;
  padding-right: 10px;
  margin: 10px
}


/* Container Grid for Work Section */

#workGrid {
  display: grid;
  height: 750px;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "subheader furniture furniture"
    "subheader prework-studyguide horiseon"
    "subheader Calculator Website";
}


#furniture {
  grid-area: furniture;
  background-image: url("../images/furniture_website.png");
  background-size: cover;
}


#prework-studyguide {
  grid-area: prework-studyguide;
  background-image: url("../images/Preworkstudyguide.png");

}

#horiseon {
  grid-area: horiseon;
  background-image: url("../images/Horiseonwebsite.png");
}


#Calculator {
  grid-area: Calculator;
  background-image: url("../images/pexels-tima-miroshnichenko-6694916.jpg");
}



#Website {
  grid-area: Website;
  background-image: url("../images/pexels-designecologist-1779487.jpg");
}

#subheader {
  grid-area: subheader;
}

.subHeading1 {
  font-size: 40px;
  text-align: right;
  color: white;
  border-right: 2px solid whitesmoke;
  padding-right: 10px;
  margin: 10px
}

.gridheading {
  background-color: rgb(0, 0, 0, 0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-left: 5px solid orange;
}


.projectGridArea {

  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

/* Contact Page CSS */

.page-section2 {
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.subHeading3 {
  font-size: 32px;
  color: white;
  border-right: 2px solid whitesmoke;
  padding-right: 10px;
  margin: 10px
}

/* Footer CSS */
.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footerfont {
  font-size: 20px;
}